*{
    border: 2px solid purple;
}

.buttons{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px; 
    column-gap: 7px;
    row-gap: 9px;
}

.calc{
    display: grid;
    justify-content: center;
}

#display{
    text-align: end;
    font-size: 40;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

button:active{
    background-color: darkgray;
}